using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;

namespace FitnessTrackerProgram_L4DC193_
{
    public partial class ApplyActivity : Form
    {
        dsFitnessTrackerTableAdapters.CustomerTableAdapter cds = new dsFitnessTrackerTableAdapters.CustomerTableAdapter();
        dsFitnessTrackerTableAdapters.ActivityTableAdapter a = new dsFitnessTrackerTableAdapters.ActivityTableAdapter();
        dsFitnessTrackerTableAdapters.ApplyActivityTableAdapter aa = new dsFitnessTrackerTableAdapters.ApplyActivityTableAdapter();
        dsFitnessTrackerTableAdapters.ApplyActivityDetailTableAdapter ad = new dsFitnessTrackerTableAdapters.ApplyActivityDetailTableAdapter();
        dsFitnessTrackerTableAdapters.SetGoalsTableAdapter gds = new dsFitnessTrackerTableAdapters.SetGoalsTableAdapter();
        DataTable newtable = new DataTable();
        DataRow dr;
        int RemoveData;
        double CalorieData;
        Decimal TotalCalories = 0;
        Decimal UnitCalories = 0;
        int TotalActivity = 0;
        int cid;
        public ApplyActivity()
        {
            InitializeComponent();
        }

        private void CreateDataTable()
        {
            dr = newtable.NewRow();
            newtable.Columns.Add("Activity ID").ToString();
            newtable.Columns.Add("Activity Name").ToString();
            newtable.Columns.Add("Metric1").ToString();
            newtable.Columns.Add("Metric2").ToString();
            newtable.Columns.Add("Metric3").ToString();           
            newtable.Columns.Add("Calories").ToString();
            dgvDisplay.DataSource = newtable;
            dgvDisplay.Refresh();
        }


        private void AutoID()
        {
            DataTable dt = new DataTable();
            dt = aa.GetData();

            if (dt.Rows.Count == 0)
            {
                lblApplyCode.Text = "AA_001";
            }
            else
            {
                int sizerow = dt.Rows.Count - 1;
                string oldid = dt.Rows[sizerow][0].ToString();
                int newid = Convert.ToInt32(oldid.Substring(3, 3));

                if (newid >= 0 && newid <= 9)
                {
                    lblApplyCode.Text = "AA_00" + (newid + 1);
                }

            }
        }


        private void ApplyActivity_Load(object sender, EventArgs e)
        {
            txtMetric1.Text = "0";
            txtMetric2.Text = "0";
            txtMetric3.Text = "0";
            btnRemove.Enabled = false;
            
            //
            DataTable dtt = new DataTable();
            string uid = UserLogin.UserID;
            dtt = cds.CheckCustomerID(uid);
            txtWeight.Text = dtt.Rows[0][2].ToString();
            cid = Convert.ToInt32(dtt.Rows[0][0].ToString());

            //
            lblApplyDate.Text = DateTime.Now.ToString("dd/MM/yyyy");
            lblCustomerName.Text = UserLogin.FullName;
            AutoID();
           //
            DataTable dt = new DataTable();
            dt = a.GetData();
            for (int i = 0; i < dt.Rows.Count; i++)
            {
                cboApplyActivity.Items.Add(dt.Rows[i][1].ToString());
            }

            CreateDataTable();
        }

        private void cboApplyActivity_SelectedIndexChanged(object sender, EventArgs e)
        {
            DataTable dt = new DataTable();
            string ActivityName = cboApplyActivity.SelectedItem.ToString();
            dt=a.CheckActivityName(ActivityName);
            if(dt.Rows.Count>0)
            {
                lblMetric1.Text = dt.Rows[0][2].ToString();
                lblMetric2.Text = dt.Rows[0][3].ToString();
                lblMetric3.Text = dt.Rows[0][4].ToString();



            }
        }

        private void btnAdd_Click(object sender, EventArgs e)
        {
            if (cboApplyActivity.SelectedIndex == 0)
            {

                Decimal MET, Distance, Time;
                Distance = (Convert.ToDecimal(txtMetric1.Text) * Convert.ToDecimal(txtMetric2.Text)) / 1000;
                Time = Convert.ToDecimal(txtMetric3.Text);
                //MET = Distance / Time;
                UnitCalories = Convert.ToDecimal(txtWeight.Text) * Time * (Distance / Time);
                //txtTotalCalories.Text = TotalCalories.ToString();
                //TotalActivity += 1;
                //txtTotalActivity.Text = TotalActivity.ToString();

            }
            else if (cboApplyActivity.SelectedIndex == 1)
            {

                Decimal MET, Distance, Time;
                Distance = (Convert.ToDecimal(txtMetric1.Text) * Convert.ToDecimal(txtMetric2.Text)) / 1000;
                Time = Convert.ToDecimal(txtMetric3.Text);
                //MET = Distance / Time;
                UnitCalories = Convert.ToDecimal(txtWeight.Text) * Time * (Distance / Time);
                //txtTotalCalories.Text = TotalCalories.ToString();
                //TotalActivity += 1;
                //txtTotalActivity.Text = TotalActivity.ToString();

            }
            else if (cboApplyActivity.SelectedIndex == 2)
            {


                Decimal MET, Distance, Time;
                Distance = (Convert.ToDecimal(txtMetric1.Text) * Convert.ToDecimal(txtMetric2.Text)) / 1000;
                Time = Convert.ToDecimal(txtMetric3.Text);
                //MET = Distance / Time;
                UnitCalories = Convert.ToDecimal(txtWeight.Text) * Time * (Distance / Time);
                //txtTotalCalories.Text = TotalCalories.ToString();
                //TotalActivity += 1;
                //txtTotalActivity.Text = TotalActivity.ToString();


            }
            else if (cboApplyActivity.SelectedIndex == 3)
            {


                Decimal MET, Distance, Time;
                Distance = (Convert.ToDecimal(txtMetric1.Text) * Convert.ToDecimal(txtMetric2.Text)) / 1000;
                Time = Convert.ToDecimal(txtMetric3.Text);
                //MET = Distance / Time;
                TotalCalories = Convert.ToDecimal(txtWeight.Text) * Time * (Distance / Time);
                //txtTotalCalories.Text = TotalCalories.ToString();
                //TotalActivity += 1;
                //txtTotalActivity.Text = TotalActivity.ToString();


            }
            else if (cboApplyActivity.SelectedIndex == 4)
            {


                Decimal MET, Distance, Time;
                Distance = (Convert.ToDecimal(txtMetric1.Text) * Convert.ToDecimal(txtMetric2.Text)) / 1000;
                Time = Convert.ToDecimal(txtMetric3.Text);
                //MET = Distance / Time;
                UnitCalories = Convert.ToDecimal(txtWeight.Text) * Time * (Distance / Time);
                //txtTotalCalories.Text = TotalCalories.ToString();
                //TotalActivity += 1;
                //txtTotalActivity.Text = TotalActivity.ToString();


            }
            else if (cboApplyActivity.SelectedIndex == 5)
            {


                Decimal MET, Distance, Time;
                Distance = (Convert.ToDecimal(txtMetric1.Text) * Convert.ToDecimal(txtMetric2.Text)) / 1000;
                Time = Convert.ToDecimal(txtMetric3.Text);
                //MET = Distance / Time;
                UnitCalories = Convert.ToDecimal(txtWeight.Text) * Time * (Distance / Time);
                //txtTotalCalories.Text = TotalCalories.ToString();
                //TotalActivity += 1;
                //txtTotalActivity.Text = TotalActivity.ToString();


            }

            //

            DataTable dtt = new DataTable();
            string Activity = cboApplyActivity.SelectedItem.ToString();
            dtt = a.CheckActivityName(Activity);

            bool RowExist = false;

            foreach (DataGridViewRow row in dgvDisplay.Rows)
            {
                if (row.Cells[1].Value != null && row.Cells[1].Value.ToString().Equals(Activity))
                {
                    RowExist = true;
                    break;
                }
            }
            if (RowExist)//Checking if true
            {
                MessageBox.Show("Activity already", "Pick a different one");
            }
            else
            {
                dr = newtable.NewRow();
                dr["Activity ID"] = dtt.Rows[0][0].ToString();
                dr["Activity Name"] = cboApplyActivity.SelectedItem.ToString();
                dr["Metric1"] = txtMetric1.Text;
                dr["Metric2"] = txtMetric2.Text;
                dr["Metric3"] = txtMetric3.Text;
                dr["Calories"] = UnitCalories;


                
                TotalCalories += UnitCalories;
                txtTotalCalories.Text = TotalCalories.ToString();
                TotalActivity += 1;
                txtTotalActivity.Text = TotalActivity.ToString();
                newtable.Rows.Add(dr);
                dgvDisplay.DataSource = newtable;

            }

        }

        private void btnSave_Click(object sender, EventArgs e)
        {
            try
            {
                if (cboApplyActivity.SelectedIndex == -1)
                {
                    MessageBox.Show("Please Choose Activity", "Apply Activity", MessageBoxButtons.OK, MessageBoxIcon.Error);
                    cboApplyActivity.Focus();
                }
                else if (dgvDisplay.Rows.Count < 0)
                {
                    MessageBox.Show("Please Insert Activity", "Apply Activity", MessageBoxButtons.OK, MessageBoxIcon.Error);
                }
                else
                {
                    //clsApplyActivity AA = new clsApplyActivity();
                    //AA.ApplyActivityID = AID;
                    String ApplyActivityDate = System.DateTime.Now.ToString("yyyy/MM/dd");
                    //AA.MemberID = Convert.ToInt32(MID);
                    //AA.TotalAcitvity = Convert.ToInt32(txtTotalActivity.Text);
                    //AA.TotalCalories = Convert.ToDecimal(txtTotalCalories.Text);
                    //AA.ApplyStatus = "Pending";
                    //int data = apds.Insert(AA.ApplyActivityID, AA.ApplyActivityDate, AA.MemberID, AA.TotalCalories, AA.TotalAcitvity, AA.ApplyStatus);
                    string ApplyStatus = "Pending";

                    //int data = aa.Insert(lblApplyCode.Text, ApplyActivityDate, cid, Convert.ToInt32(txtTotalActivity.Text), Convert.ToInt32(txtTotalCalories.Text), ApplyStatus, txtDescription.Text);
                    int data = aa.Insert(lblApplyCode.Text, ApplyActivityDate, cid, TotalActivity, Convert.ToInt32(TotalCalories), ApplyStatus, txtDescription.Text);
                    for (int i = 0; i < newtable.Rows.Count; i++)
                    {
                        int ATID;
                        Decimal AM1, AM2, AM3, Cal;
                        ATID = Convert.ToInt32(dgvDisplay["Activity ID", i].Value.ToString());
                        AM1 = Convert.ToDecimal(dgvDisplay["Metric1", i].Value);
                        AM2 = Convert.ToDecimal(dgvDisplay["Metric2", i].Value);
                        AM3 = Convert.ToDecimal(dgvDisplay["Metric3", i].Value);
                        Cal = Convert.ToDecimal(dgvDisplay["Calories", i].Value);
                        ad.Insert(lblApplyCode.Text, ATID, Convert.ToInt32(AM1), Convert.ToInt32(AM2), Convert.ToInt32(AM3), Convert.ToInt32(Cal));
                    }
                    if (data > 0)
                    {
                        MessageBox.Show("Apply Activity Save Successful", "Apply Activity Entry", MessageBoxButtons.OK, MessageBoxIcon.Information);
                        // AA.TotalCalories = Convert.ToDecimal(txtTotalCalories.Text);
                        DataTable GDT = new DataTable();
                        GDT = gds.CheckCustomerID(cid);
                        int TargetCalories = Convert.ToInt32(GDT.Rows[0]["TargetCalories"].ToString());
                        if (TotalCalories > TargetCalories)
                        {
                            MessageBox.Show("Target Success", "Apply Activity Entry", MessageBoxButtons.OK, MessageBoxIcon.Information);
                        }
                        else
                        {
                            MessageBox.Show("Invalid", "Apply Activity Entry", MessageBoxButtons.OK, MessageBoxIcon.Information);
                        }
                    }

                }
            }
            catch (Exception ex)
            {

                MessageBox.Show(ex.Message,"Apply Activity",MessageBoxButtons.OK,MessageBoxIcon.Error);
            }

           
        }

            private void dgvDisplay_CellClick(object sender, DataGridViewCellEventArgs e)
        {
            btnRemove.Enabled = true;
            RemoveData = dgvDisplay.CurrentRow.Index;
            CalorieData = Convert.ToDouble(dgvDisplay[5, RemoveData].Value.ToString());
        }

        private void btnRemove_Click(object sender, EventArgs e)
        {
            //Check if any row is selected
            if (dgvDisplay.Rows.Count > 0)
            {
                MessageBox.Show("Removed successfully");
                dgvDisplay.Rows.RemoveAt(RemoveData);
                txtTotalCalories.Text = Convert.ToString(Convert.ToDouble(txtTotalCalories.Text) - CalorieData);
                txtTotalActivity.Text = Convert.ToString(Convert.ToInt32(txtTotalActivity.Text) - 1);

            }
            else
            {
                MessageBox.Show("Please select the entire row");
            }
        }
    }
}
